.nav{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #10131A;
    padding: 10px;
    border-bottom: 2px solid #1A1D25;
    z-index: 30;
}

.logo{
    width: 100px;
}
.container{
    width: 60%;
}

.linksContainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.linksContainer a {
    color:white;
    text-decoration: none;
}
.linksContainer a:hover{
    color:#FDEE23
}
.seguro{
    display: flex;
    flex-direction: column;
    gap: 5px;
}